@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    background: #dde1e7;
}

.neu-stop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem auto;
    gap: 4rem
}

.neu-watch {
    height: 15rem;
    width: 30rem;
    font-size: 4rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background: #dde1e7;
    border-radius: 0.5rem;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}

.neu-buttons {
    display: flex;
    gap: 3rem;
    text-align: center;
}

.neu-button {
    height: 3rem;
    width: 7rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: #dde1e7;
    border-radius: 0.5rem;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}